<div ng-controller="uquestCtrl as uq">
  <div class="row">
    <div class="col s6 offset-s3">
      <h1>Administraci&oacute;n</h1>
      <h4>Editar preguntas</h4>
      <div ng-repeat="pe in uq.preguntas">
        <div class="card" style="background-color:#3498db">
          <div class="card-content white-text">
            <span class="card-title">PREGUNTA {{$index+1}}</span>
            <br/><span>{{pe.pregunta}}</span><br/><br/>
            <span ng-if="pe.tipoPregunta=='Lista'">Opciones</span><br/>
            <span ng-repeat="opc in pe.opciones" style="font-size:100%;"><br/>{{opc.opcion}}</span>
            <span ng-if="pe.tipoPregunta=='Fecha'">A partir de {{pe.fecha}}</span>
            <span ng-if="pe.tipoPregunta=='Foto'"><img ng-src="{{pe.foto}}"/></span>
          </div>
          <div class="card-action">
            <a>#{{pe.tipoPregunta}}</a>
            <a>#UQUEST</a>
          </div>
          <a class="waves-effect waves-light btn white pregunta" style="margin:1%" ng-click="uq.editarPregunta($index)">Editar</a>
          <a class="waves-effect waves-light btn white pregunta" style="margin:1%" ng-click="uq.cambiosBorrado($index);uq.preguntas.splice($index,1)">Borrar</a>
        </div>
      </div>
      <h4>Resultados</h4>
      <div ng-repeat="re in uq.resultados">
        <h5>Resultados para la pregunta n&uacute;mero {{re.numeroPregunta+1}}<br/></h5>
        {{uq.preguntas[$index].pregunta}}<br/><br/>
        <div ng-if="re.tipoPregunta=='Lista'" ng-repeat="num in re.respuesta">
          {{num.opcion}} - {{num.numero}}
        </div>
        <img src="{{uq.preguntas[$index].foto}}" ng-if="re.tipoPregunta=='Foto'"/><br ng-if="re.tipoPregunta=='Foto'"/><br ng-if="re.tipoPregunta=='Foto'"/>
        <p style="font-size:100%" ng-if="re.tipoPregunta=='Breve' || re.tipoPregunta=='Foto'" ng-repeat="resp in re.respuesta">{{resp.usuario}} respondi&oacute; {{resp.respuesta}}</p>
        <p style="font-size:100%" ng-if="re.tipoPregunta=='Fecha'" ng-repeat="resp in re.respuesta">{{resp[0].usuario}} respondi&oacute; {{resp[0].fecha}}</p>
      </div>
      <h4>Sugerencias</h4> <a class="waves-effect waves-light btn white pregunta" ng-click="uq.sugerencias=[]">Descartar Todas</a><br/><br/>
      <div ng-repeat="su in uq.sugerencias">
        <span ng-if="su.numeroPregunta!=-1">
          <b>{{su.nombre}}</b> sugiri&oacute; que en la pregunta n&uacute;mero <b>{{su.numeroPregunta+1}}</b> se a&ntilde;ada la opci&oacute;n <b>{{su.opcion}}</b>
          <a class="waves-effect waves-light btn white pregunta" style="margin:1%" ng-click="uq.incluirOpcion(su.numeroPregunta,su.opcion,$index)">Incluir</a>
          <a class="waves-effect waves-light btn white pregunta" style="margin:1%" ng-click="uq.sugerencias.splice($index,1)">Descartar</a>
        </span>
        <span ng-if="su.numeroPregunta==-1"><b>{{su.nombre}}</b> sugiri&oacute; a&ntilde;adir la siguiente pregunta:
          <div class="card" style="background-color:#3498db">
            <div class="card-content white-text">
              <span class="card-title">PREGUNTA ¿{{uq.preguntas.length+1}}?</span>
              <br/><span>{{su.opcion.pregunta}}</span><br/><br/>
              <span ng-if="su.opcion.tipoPregunta=='Lista'">Opciones</span><br/>
              <span ng-repeat="opc in su.opcion.opciones" style="font-size:100%;"><br/>{{opc.opcion}}</span>
              <span ng-if="su.opcion.tipoPregunta=='Fecha'">A partir de {{su.opcion.fecha}}</span>
              <span ng-if="su.opcion.tipoPregunta=='Foto'"><img ng-src="{{su.opcion.foto}}"/></span>
            </div>
            <div class="card-action">
              <a>#{{su.opcion.tipoPregunta}}</a>
              <a>#UQUEST</a>
            </div>
            <a class="waves-effect waves-light btn white pregunta" style="margin:1%" ng-click="uq.incluirPregunta(su.opcion,$index)">Incluir</a>
            <a class="waves-effect waves-light btn white pregunta" style="margin:1%" ng-click="uq.sugerencias.splice($index,1)">Descartar</a>
          </div>
        </span>
      </div>
      <h4>Resetear</h4>
      ¿Deseas resetear los resultados de la encuesta? Pulsa el siguiente bot&oacute;n:<br/>
      <a class="waves-effect waves-light btn white pregunta" style="margin-top:1.5%;" ng-click="uq.resetearEncuesta()">Resetear resultados >></a><br/><br/>
      <h4>Terminar</h4>
      ¿Deseas terminar, por el motivo que sea (siempre honorable), la encuesta antes de tiempo? Entonces pulsa el siguiente bot&oacute;n:<br/>
      La encuesta ahora tiene la fecha de fin establecida el {{uq.fecha}}<br/>
      <a id="term" class="waves-effect waves-light btn white pregunta" style="margin-top:1.5%;" ng-click="uq.terminarEncuesta()">Terminar encuesta >></a><br/><br/>
      <a class="waves-effect waves-light btn white pregunta" href="#/">Guardar cambios >></a>
      <a class="waves-effect waves-light btn white pregunta" href="#/" ng-click="uq.borraTodo()"><< Cancelar</a>
    </div>
  </div>
</div>
