<div class="container animated fadeIn" ng-controller="uquestCtrl as uq">
  <div class="row">
    <div class="col s12">
      <h1 class="center-align">Elige un tipo de Quest</h1>
    </div>
  </div>
  <div class="row center">
    <!--
    <div class="col s12 m4">
      <div class="card">
        <div class="card-content grey-text">
          <span class="card-title grey-text"><strong>Quest con foto</strong></span>
          <p>Este tipo de quest parte de una imagen a la que va asociada una pregunta. Los usuarios podr&aacute;n responder de igual forma que en la quest por Respuesta Breve.</p>
        </div>
        <div class="card-action">
          <a href="#/admincreacion" class="blue-text" ng-click="uq.multipleSwitch(1)"><b>Crear quest con foto</b></a>
        </div>
      </div>
    </div>
    -->
    <!--
    <div class="col s12 m4">
      <div class="card">
        <div class="card-content grey-text">
          <span class="card-title grey-text"><strong>Quest-cena</strong></span>
          <p>Esta quest predefinida te proporciona 3 preguntas con s&oacute;lo unos pocos clicks, todas enfocadas a la ardua tarea de concretar hora, lugar y asistentes de la cena.</p><br class="hide-on-small-only">
        </div>
        <div class="card-action">
          <a href="#/admincreacion" class="blue-text" ng-click="uq.multipleSwitch(2)"><b>Crear quest cena</b></a>
        </div>
      </div>
    </div>
    -->
    <div class="col s12 m4">
      <div class="card">
        <div class="card-content grey-text">
          <span class="card-title grey-text"><strong>Quest de opciones</strong></span>
          <p>Esta quest te permite hacer una pregunta a la que se puede responder eligiendo una o varias opciones.</p><br class="hide-on-small-only">
        </div>
        <div class="card-action">
          <a href="#/admincreacion" class="blue-text" ng-click="uq.multipleSwitch(3)"><b>Crear quest con opciones</b></a>
        </div>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card">
        <div class="card-content grey-text">
          <span class="card-title grey-text"><strong>Quest de respuesta breve</strong></span>
          <p>Esta quest te permite hacer una pregunta a la que se puede responder un mensaje cualquiera.</p><br class="hide-on-small-only">
        </div>
        <div class="card-action">
          <a href="#/admincreacion" class="blue-text" ng-click="uq.multipleSwitch(4)"><b>Crear quest de respuesta breve</b></a>
        </div>
      </div>
    </div>
    <!--
    <div class="col s12 m4">
      <div class="card">
        <div class="card-content grey-text">
          <span class="card-title grey-text"><strong>Quest de fechas</strong></span>
          <p>Los receptores de esta quest podr&aacute;n responder eligiendo una fecha y/o una hora de un hermoso calendario.</p><br class="hide-on-small-only">
        </div>
        <div class="card-action">
          <a href="#/admincreacion" class="blue-text" ng-click="uq.multipleSwitch(5)"><b>Crear quest de fecha y hora</b></a>
        </div>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card">
        <div class="card-content grey-text">
          <span class="card-title grey-text"><strong>Quest con foto</strong></span>
          <p>Los receptores de esta quest podr&aacute;n responder eligiendo una fecha y/o una hora de un hermoso calendario.</p><br class="hide-on-small-only">
        </div>
        <div class="card-action">
          <a href="#/admincreacion" class="blue-text" ng-click="uq.multipleSwitch(5)"><b>Crear quest de fecha y hora</b></a>
        </div>
      </div>
    </div>
    -->
    <div class="col s12 m4">
      <div class="card">
        <div class="card-content grey-text">
          <span class="card-title grey-text"><strong>Quest m&uacute;ltiple</strong></span>
          <p>Quest a la que se le pueden adosar varias preguntas de cualquiera de los tipos anteriores.</p><br class="hide-on-small-only">
        </div>
        <div class="card-action">
          <a href="#/admincreacion" class="blue-text" ng-click="uq.multipleSwitch(0)"><b>Crear quest m&uacute;ltiple</b></a>
        </div>
      </div>
    </div>    
  </div>
  <div class="row">
    <div class="col s12 m12">
      <a class="waves-effect waves-light btn-large white grey-text text-darken-2" style="width:100%" href="#/"><< Volver al inicio</a>
    </div>
  </div>
</div>
