<div class="container" ng-controller="uquestCtrl as uq">
  <div class="row">
    <div class="col m10 offset-m1 s12">
      <h1>Quest con foto</h1>
      <p>Esta quest te permite hacer una pregunta asociada a una foto que adjuntes. ¿Qu&eacute; pregunta quieres hacer al mundo?</p>
      <div class="input-field">
        <input id="pregunta" type="text" class="validate" ng-model="uq.pregunta"/>
        <label for="pregunta">Pregunta</label>
      </div>
      <p>Busca la foto que desees, &eacute;sta aparecer&aacute; en la encuesta, ilustrando la pregunta.</p>
      <form action="#" method="post" enctype="multipart/form-data">
        <div class="file-field input-field">
          <div class="btn">
            <span>Imagen</span>
            <input type="file" accept="image/*">
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col m10 offset-m1 s12 center">        
      <a class="waves-effect waves-light btn white grey-text text-darken-2" ng-show="uq.consultaSwitch()" href="#/admincreacion"><< Volver</a>
      <a class="waves-effect waves-light btn white grey-text text-darken-2" ng-show="!uq.consultaSwitch()" href="#/crear"><< Cancelar pregunta</a>
      <a class="waves-effect waves-light btn white grey-text text-darken-2" ng-click="uq.guardaFoto();uq.guardarPregunta('Foto')">Finalizar pregunta >></a>
    </div>
  </div>
</div>