<div class="container animated fadeIn" ng-controller="uquestCtrl as uq">
  <div class="row">
    <div class="col m10 offset-m1 s12">
      <h1>La encuesta</h1>
      Introduce el ID de la encuesta en la que quieres votar
      <div class="input-field">
        <input id="encu" type="text" class="validate" length="10" ng-model="uq.encu"/>
        <label for="encu">ID de encuesta</label>
      </div>
    </div>
  </div>
  <div class="row center">
    <a class="waves-effect waves-light btn white grey-text text-darken-2" href="#/" ng-click="uq.borraTodo()"><< Volver</a>
    <a class="waves-effect waves-light btn white grey-text text-darken-2" href="#/votar/{{uq.encu}}">Quiero votar >></a>
  </div>
</div>